.main-parent-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 90vh;
  padding: none !important;
  margin: none !important;
}

.content-container {
  background-color: transparent;
  width: 40%;
  padding: 35px;
}
.main-head-one {
  text-align: left;
  font-family: roboto;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}
.desc-of {
  text-align: left;
  font-family: roboto;
  font-size: 25px;
  color: #fff;
  margin-bottom: 45px;
}
.btn-mine {
  background-color: #6366f1;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
