.main-cont-aniket {
  background-color: #000;
  background-size: cover;
  height: 100%;
  margin: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.failure-aniket {
  height: 50%;
  width: 40%;
  margin-bottom: 30px;
}
.main-head-aniket {
  font-family: roboto;
  color: #fff;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: bold;
}
.desc-aniket {
  font-size: 15px;
  color: #fff;
  font-family: roboto;
  margin-bottom: 20px;
}
.btn-aniket {
  background-color: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  font-family: roboto;
  font-weight: bold;

  padding: 7px 15px;
}
