.login-form-cont {
  height: 100vh;
  background-color: #000000;
  padding: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-cont {
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 50%;
  width: 50%;
  background-image: none !important;
}
.logo-1 {
  height: 50px;
  width: 150px;
  margin-bottom: 30px;
}
.main-username-cont {
  margin-bottom: 20px;
}

.label-field {
  font-family: roboto;
  color: #f1f5f9;
  font-size: 10px;
  font-weight: bold;
}
.input-field {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #f1f5f9;
  background-color: transparent;
  color: #f1f5f9;
  font-size: 15px;
  height: 40px;
  padding: 5px 10px;
}
.input-field::placeholder {
  color: #888;
  opacity: 1;
}
.login-btn {
  margin-top: 25px;
  width: 100%;
  height: 40px;
  color: #f1f5f9;
  background-color: #6366f1;
  border: none;
  font-weight: bold;
}
.error-msg {
  color: #ff0b37;
}
